* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .blackScreen {
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .screen {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        background-image: url(assets/20.jpg);
        background-size: cover;
        background-position: center;
        padding: 1rem;
        overflow: hidden;

        position: relative;

        .app {
            width: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            padding: .2rem;

            img {
                width: 100%;
            }

            p {
                font-size: .8rem;
                text-align: center;
                font-weight: 600;
            }

            margin-bottom: 1rem;
        }

        .app:nth-child(2) {
            img {
                width: 50px;
            }
        }

        .app:hover {
            background-color: #d1d1d16f;
            backdrop-filter: blur(5px);
        }

        .app:active {
            background-color: #d1d1d1d2;
            backdrop-filter: blur(5px);
        }

        .contextMenu {
            width: fit-content;
            min-width: 200px;
            display: flex;
            flex-direction: column;
            gap: .2rem;
            background-color: #1d1d1db4;
            backdrop-filter: blur(5px);
            padding: .2rem;
            border-radius: .5rem;
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;

            p {
                // background-color: #9d9898;
                padding: .5rem;
                cursor: pointer;
            }

            p:hover {
                background-color: #9d989833;
                border-radius: .2rem;
            }

            hr {
                border: 1px solid #666666;
            }
        }
    }

    .startMenu {
        width: 40%;
        min-width: 600px;
        height: 90vh;
        max-height: 720px;
        background-color: #1d1d1daa;
        backdrop-filter: blur(10px);
        position: absolute;
        left: 50%;
        bottom: 55px;
        opacity: 0;
        transform: translate(-50%, 100%);
        border-radius: .5rem;

        display: flex;
        flex-direction: column;

        overflow: hidden;

        .part {
            flex: 1;
            width: 100%;
            padding: 2rem 2rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .searcbar {
                width: 100%;
                height: 2rem;
                display: flex;
                align-items: center;
                gap: .5rem;
                padding: .5rem;

                background-color: #1d1d1daa;
                border-radius: 50px;

                input {
                    width: 100%;
                    outline: 0;
                    border: 0;
                    background-color: transparent;
                    color: #f2f2f2;
                }

                input::placeholder {
                    color: #f2f2f2;
                }
            }

            .pinned {
                width: 100%;
                height: 40%;

                .appicons {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: repeat(2, auto); // optional

                    place-items: center;

                    .appIcon {
                        width: 100%;
                        height: 100%;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        gap: .5rem;
                        border-radius: .2rem;

                        img {

                            width: 2rem;
                        }

                        p {
                            font-size: .8rem;
                            line-height: 1;
                        }
                    }

                    .appIcon:hover {
                        background-color: #d1d1d119;
                    }
                }
            }

            .recommended {
                width: 100%;
                height: 40%;

                .visited {
                    width: 100%;

                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    .app {
                        width: 100%;
                        height: fit-content;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        padding: 1rem;
                        border-radius: .2rem;

                        img {
                            width: 1.7rem;
                        }

                        .appInfo {
                            font-size: .8rem;

                            p+p {
                                font-size: .7rem;
                            }
                        }
                    }

                    .app:hover {
                        background-color: #d1d1d119;
                    }
                }
            }

            .head {
                margin-bottom: .2rem;
                display: flex;
                justify-content: space-between;

                .btn {
                    font-size: .8rem;
                    padding: .2rem .3rem;
                    background-color: #9d989843;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .2rem;
                    border-radius: .2rem;
                }
            }
        }


        .info {
            width: 100%;
            background-color: #1d1d1daa;
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;

            .profile {
                display: flex;
                align-items: center;
                gap: .5rem;
                padding: .3rem .5rem;
                border-radius: .2rem;
                cursor: pointer;

                .profIcon {
                    width: 2rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    background-color: #d3d3d3;
                    color: #0c0c0c;
                    display: grid;
                    place-items: center;
                }

                p {
                    font-size: .8rem;
                }
            }


            .shutdown {
                height: 100%;
                aspect-ratio: 1/1;
                border-radius: .2rem;
                display: grid;
                place-items: center;
            }

            .profile:hover,
            .shutdown:hover {
                background-color: #d1d1d119;
            }
        }


    }

    .navRibbon {
        position: absolute;
        bottom: 0;
        z-index: 100;
        width: 100%;
        height: 3rem;
        background-color: #1d1d1d8b;
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-top: 1px solid #aeaeae6d;

        .weather {
            display: flex;
            align-items: center;
            gap: .2rem;

            .sun {
                font-size: 1.5rem;
            }

            p {
                font-size: .8rem;
            }
        }

        .middle {
            display: flex;
            align-items: center;

            .appIcon {
                padding: .5rem;
                display: grid;
                place-items: center;
                border-radius: .2rem;

                img {
                    width: 1.5rem;
                    aspect-ratio: 1/1;
                }
            }

            .appIcon:hover {
                background-color: #d1d1d12b;
            }

            .appIcon+.appIcon {
                margin-left: .3rem;
            }

            .search {
                border-radius: 50px;
                height: 2rem;
                padding-inline: .5rem;
                margin-inline: .5rem;
                display: flex;
                align-items: center;

                background-color: #666666;

                box-shadow: 0 0 0 1px #9d9898;

                gap: .3rem;

                i {
                    margin-right: .4rem;
                }

                input {
                    width: 100px;
                    background-color: transparent;
                    color: white;
                    border: 0;
                    outline: 0;
                }

                input::placeholder {
                    color: white;
                }

                .searchImg {
                    width: 50px;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

            }

        }

        .end {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: .8rem;

            .lang {
                text-align: center;
            }

            .icons {
                font-size: 1rem;
                display: flex;
                gap: .5rem;
            }

            .dateTime {
                text-align: right;
            }
        }
    }
}


@media (max-width: 1020px) {
    main {
        .blackScreen {
            opacity: 1;
            background-color: #0c0c0c;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
        }
    }

}